apiVersion: v1
kind: Service
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    app: keycloak
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: default
  labels:
    app: keycloak
spec:
  replicas: {{ KEYCLOAK_REPLICAS }}
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: {{ KEYCLOAK_DOCKER_IMAGE }}:{{ KEYCLOAK_DOCKER_IMAGE_TAG }}
        env:
        - name: KEYCLOAK_USER
          value: "{{ KEYCLOAK_ADMIN_USER }}"
        - name: KEYCLOAK_PASSWORD
          value: "{{ KEYCLOAK_ADMIN_PASS }}"
        - name: KEYCLOAK_LOGLEVEL
          value: "{{ KEYCLOAK_LOG_LEVEL }}"
        - name: JDBC_PARAMS
          value: "connectTimeout=21600"
        - name: JAVA_OPTS
          value: "-server -Xms4096m -Xmx8192m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -Djava.net.preferIPv4Stack=true -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true -Dkeycloak.profile.feature.token_exchange=enabled"
        - name: DB_VENDOR
          value: "{{ KEYCLOAK_DB_VENDOR }}"
        - name: DB_ADDR
          value: "{{ KEYCLOAK_DB_HOST }}"
        - name: DB_PORT
          value: "{{ KEYCLOAK_DB_PORT }}"
        - name: DB_USER
          value: "{{ KEYCLOAK_DB_USER }}"
        - name: DB_PASSWORD
          value: "{{ KEYCLOAK_DB_PASS }}"
        - name: PROXY_ADDRESS_FORWARDING
          value: "true"
        ports:
        - name: http
          containerPort: 8080
        - name: https
          containerPort: 8443
        readinessProbe:
          httpGet:
            path: /auth/realms/master
            port: 8080
